$color-dark: #ffffff;
$background-dark: #000000;
$anchor-color-dark: #9cb2f5;
$code-color-dark: #ffffff;
$code-background-dark: #313131;
$code-shadow-dark: rgba(0, 0, 0, 0.50);
$color-light: #000000;
$background-light: #ffffff;
$anchor-color-light: #4169e1;
$code-color-light: #000000;
$code-background-light: #d3d3d3;
$code-shadow-light: rgba(255, 255, 255, 0.5);
:root {
    --color: #{$color-dark};
    --background: #{$background-dark};
    --anchor-color: #{$anchor-color-dark};
    --code-color: #{$code-color-dark};
    --code-background: #{$code-background-dark};
    --code-shadow: #{$code-shadow-dark};
}

@media (prefers-color-scheme: dark) {
     :root {
        --color: #{$color-dark};
        --background: #{$background-dark};
        --anchor-color: #{$anchor-color-dark};
        --code-color: #{$code-color-dark};
        --code-background: #{$code-background-dark};
        --code-shadow: #{$code-shadow-dark};
    }
}

@media (prefers-color-scheme: light) {
     :root {
        --color: #{$color-light};
        --background: #{$background-light};
        --anchor-color: #{$anchor-color-light};
        --code-color: #{$code-color-light};
        --code-background: #{$code-background-light};
        --code-shadow: #{$code-shadow-light};
    }
}

#tldr-chrome {
    * {
        all: initial;
        font-family: monospace;
        color: var(--color);
    }
    *:focus {
        all: initial;
    }
    *::after {
        all: initial;
    }
    *::before {
        all: initial;
    }
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    &::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }
    z-index: 9999;
    padding: 10px;
    box-sizing: border-box;
    background: var(--background);
    box-shadow: 0 2px 4px;
    border-radius: 8px;
    transition: .2s;
    position: absolute;
    overflow: auto;
    height: 195px;
    width: 500px;
    a {
        color: var(--anchor-color);
        cursor: pointer;
    }
    code {
        font-family: monospace;
        font-size: 12px;
        background: var(--code-background);
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 var(--code-shadow);
        padding: 2px;
        color: var(--code-color);
    }
    button.copy-code-button,
    button.copy-code-button:focus {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 10px;
        background: var(--code-background);
        outline: none;
        box-shadow: none;
        border-color: var(--code-color);
        border-style: solid;
        border-width: thin;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 var(--code-shadow);
        padding: 2px;
        color: var(--code-color);
        font-family: monospace;
        font-size: 12px;

        &:focus {
            animation: change-text 1s ease-in-out;
            @keyframes change-text {
                0% { opacity: 0.1; }
                50% { opacity: 0.5; }
                100% { opacity: 1; }
              }
        }
    }
    ul {
        margin-left: 0;
        padding-left: 0;
    }
    li {
        font-size: 12px;
        list-style-type: none;
        line-height: 2;
    }
    p {
        margin-top: 0;
        margin-bottom: 10px;
        display: block;
        font-size: 15px;
    }
    h1 {
        font-size: 30px;
        font-weight: bold;
    }
    blockquote,
    blockquote p {
        font-size: 15px;
        font-style: italic;
    }
    .not-found {
        p {
            text-align: center;
        }
        a {
            color: var(--anchor-color);
            cursor: pointer;
        }
        .large {
            font-size: 50px;
            padding: 30px 0 0;
            margin: 0;
        }
    }
}

#tldr-chrome-arrow {
    z-index: 10000;
    width: 50px;
    height: 25px;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: var(--background);
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        top: 0;
        left: 50%;
    }
}

#tldr-chrome-spinner {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: tldr-chrome-spinner 1.2s linear infinite;
    }
      
}

@keyframes tldr-chrome-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}